{% extends 'base.html.twig' %}

{% block body %}
    <h1>Characters</h1>
    <table>
        <tr>
            <th>Name</th><th>Nationality</th><th>Difficulty</th><th>Fighting style</th>
            {% for character in characters %}
                <tr>
                    <td><a href="{{ path('show_character',{'id':character.id}) }}">{{ character.name }}</td>
                    <td>{{ character.nationality }}</td>
                    <td>{{ character.difficulty }}</td>
                    <td>{{ character.fightStyle }}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}
