{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ character.name }}</h1>
    <img class="char-img" src="/files/images/characters/{{ character.image }}" alt="{{ character.name }}">
    <ul>
        <li>Nationality: {{ character.nationality }}</li>
        <li>Difficulty: {{ character.difficulty }}</li>
        <li>Fighting style: {{ character.fightStyle }}</li>
    </ul>
    {% if is_granted('ROLE_ADMIN')  %}
        <a type="button" class="button primary" href="{{ path('create_move',{'id':character.id}) }}">Create new move</a>
        <a type="button" class="button primary" href="{{ path('edit_character',{'id':character.id}) }}">Edit character info</a>
        <a type="button" class="button alert" href="{{ path('delete_character',{'id':character.id}) }}">Delete character</a>
    {% endif %}
    <h2>Moves</h2>
        {% for move in character.moves %}
            <div>
                <h4>{{ move.name }}</h4>
                <div>{{ move.commandHTML }}</div>
            </div>
                {% if is_granted('ROLE_ADMIN')  %}
                    <a type="button" class="button alert" href="{{ path('delete_move',{'id':move.id}) }}">Delete</a>
                {% endif %}
        {% endfor %}
    <script src="{{ asset('js/buttonInput.js') }}"></script>

{% endblock %}
{% block stylesheets %}
{% endblock %}
