<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8" />

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>

<!-- Start Top Bar -->

<div class="top-bar">

    <div class="top-bar-left">

        <ul class="menu">

            <li class="menu-text">TekkenGod</li>

            <li><a href="{{ path('homepage')}}">Home</a></li>

            <li><a href="{{ path('list_character')}}">Characters</a></li>
            {% if is_granted('ROLE_ADMIN')  %}
                <li><a href="{{ path('create_character')}}">Create character</a></li>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {#<li><a href="/list">Můj list úkolů</a></li>#}

            {% endif %}

        </ul>

    </div>

    <div class="top-bar-right">

        <ul class="menu">

            ​

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}


                <li style="margin-right: 15px">Logged in as <strong>{{ app.user.username }}</strong> </li>

                <li><a href="{{ logout_path() }}" class="button alert">Logout</a></li>

            {% else %}

                <li><a href="{{ path('fos_user_security_login') }}" class="button">Login</a></li>

                <li><a href="{{ path('fos_user_registration_register') }}" class="hollow button">Register</a></li>

            {% endif %}

        </ul>

    </div>

</div>

<!-- End Top Bar -->

<article class="grid-container">

    <div class="grid-x align-center">

        <div class="cell medium-10">

            {% block body %}{% endblock %}

        </div>

    </div>

</article>

{% block javascripts %}{% endblock %}

<script src="{{ asset('js/vendor/foundation.js') }}"></script>

<script src="{{ asset('js/vendor/jquery.js') }}"></script>

<script src="{{ asset('js/vendor/what-input.js') }}"></script>

<script src="{{ asset('js/app.js') }}"></script>

</body>

</html>