{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create move</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <a onclick="setCommand('b')">Back</a>
    <a onclick="setCommand('u')">Up</a>
    <a onclick="setCommand('d')">Down</a>
    <a onclick="setCommand('f')">Forward</a>
    <a onclick="setCommand('+')">+</a>
    <a onclick="setCommand('~')">~</a>
    <a onclick="setCommand('/')">/</a>
    <a onclick="setCommand('*')">Hold</a>
    <a onclick="setCommand('1')">1</a>
    <a onclick="setCommand('2')">2</a>
    <a onclick="setCommand('3')">3</a>
    <a onclick="setCommand('4')">4</a>
    <a onclick="setCommand('wr')">While running</a>
    <a onclick="setCommand('ws')">While standing</a>
    <a onclick="clearField('move_command')">Clear</a>
    {{ form_row(form.command) }}
    <a onclick="setHitLevel('h')">High</a>
    <a onclick="setHitLevel('m')">Mid</a>
    <a onclick="setHitLevel('l')">Low</a>
    <a onclick="clearField('move_hitLevel')">Clear</a>
    {{ form_row(form.hitLevel) }}
    <table style="padding: 0px; margin: 0px; text-align: left; border: transparent">
        <th style="padding: 0px; margin: 0px; text-align: left">
            {{ form_row(form.startUpFrame) }}
        </th>
        <th style="padding: 0px; margin: 0px; text-align: left">
            {{ form_row(form.blockFrame) }}
        </th>
        <th style="padding: 0px; margin: 0px; text-align: left">
            {{ form_row(form.hitFrame) }}
        </th>
    </table>
    {{ form_row(form.counterHit) }}
    {{ form_row(form.damage) }}
    {{ form_row(form.tracking) }}
    {{ form_row(form.range) }}
    {{ form_row(form.note) }}
    <div style="float: left; padding-right: 10px">
    {{ form_row(form.submit) }}
    </div>
    {{ form_row(form.submitNext) }}
    {{ form_end(form) }}


    <script src="{{ asset('js/buttonInput.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
