{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create move</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <table style="text-align: center">
        <tr>
            <td><a onclick="setCommand('u/b')"><img src='/files/images/controls/ub.png'></a></td>
            <td><a onclick="setCommand('u')"><img src='/files/images/controls/u.png'></a></td>
            <td><a onclick="setCommand('u/f')"><img src='/files/images/controls/uf.png'></a></td>
            <td rowspan="3">
                <a class="button" onclick="setCommand('+')">+</a>
                <a class="button" onclick="setCommand('~')">~</a>
                <a class="button" onclick="setCommand('*')">*</a>
            </td>
            <td></td>
            <td><a onclick="setCommand('2')"><img src='/files/images/controls/2.png'></a></td>
            <td></td>
        </tr>
        <tr>
            <td><a onclick="setCommand('b')"><img src='/files/images/controls/b.png'></a></td>
            <td><a onclick="setCommand('n')"><img src='/files/images/controls/n.png'></a></td>
            <td><a onclick="setCommand('f')"><img src='/files/images/controls/f.png'></a></td>
            <td><a onclick="setCommand('1')"><img src='/files/images/controls/1.png'></a></td>
            <td></td>
            <td><a onclick="setCommand('4')"><img src='/files/images/controls/4.png'></a></td>
        </tr>
        <tr>
            <td><a onclick="setCommand('d/b')"><img src='/files/images/controls/db.png'></a></td>
            <td><a onclick="setCommand('d')"><img src='/files/images/controls/d.png'></a></td>
            <td><a onclick="setCommand('d/f')"><img src='/files/images/controls/df.png'></a></td>
            <td></td>
            <td><a onclick="setCommand('3')"><img src='/files/images/controls/3.png'></a></td>
            <td></td>
        </tr>
    </table>
    <a onclick="setCommand('1')">1</a>
    <a onclick="setCommand('2')">2</a>
    <a onclick="setCommand('3')">3</a>
    <a onclick="setCommand('4')">4</a><br>
    <a onclick="setCommand('wr')">While running</a>
    <a onclick="setCommand('ws')">While standing</a>
    <a onclick="setCommand('wc')">While crouching</a>
    <a onclick="setCommand('wh')">When hit</a>
    <a onclick="setCommand('ir')">In rage</a>
    <a onclick="setCommand('od')">Opponent down</a><br>
    {% for stance in stances %}
    <a onclick="setCommand('{{ stance.name }}')">{{ stance.name }}</a>
    {% endfor %}
    <br>
    <a onclick="clearField('move_command')">Clear</a><br>
    {{ form_row(form.command) }}
    <div id="show_command"></div>
    <a onclick="setHitLevel('h')">High</a>
    <a onclick="setHitLevel('m')">Mid</a>
    <a onclick="setHitLevel('l')">Low</a>
    <a onclick="clearField('move_hitLevel')">Clear</a>
    {{ form_row(form.hitLevel) }}
    <table style="padding: 0px; margin: 0px; text-align: left; border: transparent">
        <th style="padding: 0px; margin: 0px; text-align: left">
            {{ form_row(form.startUpFrame) }}
        </th>
        <th style="padding: 0px; margin: 0px; text-align: left">
            {{ form_row(form.blockFrame) }}
        </th>
        <th style="padding: 0px; margin: 0px; text-align: left">
            {{ form_row(form.hitFrame) }}
        </th>
    </table>
    {{ form_row(form.counterHit) }}
    {{ form_row(form.damage) }}
    {{ form_row(form.note) }}
    <div style="float: left; padding-right: 10px">
    {{ form_row(form.submit) }}
    </div>
    {{ form_row(form.submitNext) }}
    {{ form_end(form) }}


    <script src="{{ asset('js/buttonInput.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
